html, body{
	background: #ebf5ff;
	color: #151515;
	font-weight: bold;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family:"Lucida Console";


}
.h-container{
	background: #ebf5ff;
	height: 100%;
	width: 100%;
	position: relative;
}
.t-btn{
	position: absolute;
	width: 3%;
	height: 50%;
	top:25%;
	left: 1%;
	font-size: 1.5vw;
	background:#ebf5ff;
	text-align: center;
}
.tabs{
	display: none;
	position: absolute;
	background-color: lightgray;
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.5);
    left:1%;
    top:85%;
	width: 13%;
	height: 370%;
	z-index: 1;
}
.aboutl{
	position: absolute; 
	top:15%;
}
.contactl{
	position: absolute; 
	top:30%;
}
.privacyl{
	position: absolute; 
	top:45%;
}
.terms1{
	position: absolute;
	top:60%;
}


.header{
	background: #1B7FA0;
	position: relative;
	height: 10%;
	width: 100%;
}

.graytop{
	background: #404040;
	position: absolute;
	top: 15%;
	height: 12%;
	left:35%;
	transition: background .2s;
	z-index: 1;
}
.arrow1{
	position: absolute;
	right: 36%;
	top: 35%;
}
.arrow2{
	position: absolute;
	left: 36%;
	bottom: 35%

}
.m-over1{
	animation: tiltA .2s ease-in-out forwards;
}
@keyframes tiltA{
	0%{width: 0%;}
	100%{width: 30%;}
}
.m-out1{
	animation: tiltC .2s ease-in-out forwards;
}
@keyframes tiltC{
	0%{width: 30%;}
	100%{width: 0%;}
}
.c1{
	animation: clickA .5s ease-in-out forwards;
}
@keyframes clickA{
	0%{width: 30%;}
	100%{width: 0%; left: 65%;}
}

.click1{
	background:#00abe5;
	position: absolute;
	top:15%;
	right:0;
	height:70%;
	border-radius: 5% 0 0 5%;
	z-index: 1;
	text-align: left;
	line-height: 3vw;
	font-size: 1.2vw;	
}
.c3{
	animation: clickC .5s ease-in-out forwards;
}
@keyframes clickC{
	0%{width: 0%;}
	100%{width: 35%;}
}
.graybottom{
	background: #404040;
	position: absolute;
	height: 12%;
	bottom: 15%;
	right: 35%;
}
.m-over2{
	animation: tiltB .2s ease-in-out forwards;
}
@keyframes tiltB{
	0%{width: 0%;}
	100%{width: 30%;}
}
.m-out2{
	animation: tiltD .2s ease-in-out forwards;
}
@keyframes tiltD{
	0%{width: 30%;}
	100%{width: 0%;}
}
.c2{
	animation: clickB .5s ease-in-out forwards;
}
@keyframes clickB{
	0%{width: 30%;}
	100%{width: 0%; right:65%;}
}


.click2{
	background: #00abe5;
	position: absolute;
	bottom:15%;
	height: 70%;
	border-radius: 0 5% 5% 0;
	text-align: center;
	font-size: 1.2vw;	
}
.c4{
	animation: clickD .5s ease-in-out forwards;
}
@keyframes clickD{
	0%{width: 0%;}
	100%{width: 35%;}
}
.footer{
	background: #1B7FA0;
	width: 100%;
	height: 10%;
	position: relative;
	bottom:0;
	text-align: center;
}

.content{
	position: relative;
	height: 80%;
	width: 100%;
}


.instagram{
	position: absolute;
	bottom: 80%;
	left: 37.5%;
	z-index: 0;
}
.medium{
	position: absolute;
	bottom: 76%;
	left: 41.5%;
	z-index: 0;
}
.twitter{
	position: absolute;
	bottom: 79.5%;
	left: 48.5%;
	z-index: 0;
}
.btn{
	background: linear-gradient(to right, #00abe5, #089DCF, #108EB8, #1B7FA0,  #23718C, #266A82,#23718C, #1B7FA0, #108EB8, #089DCF, #00abe5);
	position: absolute;
	top: 27.5%;
	left: 41.5%;
	border: 10px #151515 solid;
	box-shadow: 0px 0px 0px 10px #ebf5ff, 0px 0px 0px 20px #404040;
	display: block;
	border-radius:50%;
	z-index: 100;
	cursor: pointer;

}
.appstore{
	position: absolute;
	top: 5%;
	left: 40.5%;
}
.spin1{
	animation: spinA .2s linear forwards;
}
@keyframes spinA{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(45deg);}
}
.spin2{
	animation: spinB .2s linear forwards;
}
@keyframes spinB{
	0%{transform: rotate(45deg);}
	100%{transform: rotate(0deg);}
}
.spin3{
	animation: spinC .5s ease-in-out forwards;
}
@keyframes spinC{
	0%{transform: rotate(45deg);}
	100%{transform: rotate(360deg);}
}

.capsule{
	position: absolute;
}
.signature{


}

.copyright{
	color:#404040;
	font-size: 1vw;
	font-weight: bold;
	position: relative;
	top:30%;
	z-index: 1;
}
a{	
	color: #151515;
	text-decoration: none;
	cursor: pointer;
display: block;
	position: absolute;
	margin-left: 5%;
	font-weight: bold;
	margin-top: 30%;
	font-size:1.2vw;

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}