<!DOCTYPE html>
<html>
<head>
	<title>Capsule</title>
	<link rel="icon" type="../image/ico" href="../images/icon3.png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="../scripts/fade.js"></script>
	<script type="text/javascript" src="../scripts/script_home.js"></script>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style_about.css">
</head>
<body>

	
	<!-- home-container -->
	<div class="h-container">

		<div class="header">
    <div class="t-container">
      <div class="t-btn"><img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png" width="100%" height="100%;"></div>
      <div class="tabs">
        <a class="homel" href="../home.html">Home</a>
        <a class="aboutl" href="../templates/about.html">About</a>
        <a class="contactl" href="../templates/contactus.html">Contact Us</a>
        <a class="privacyl" href="../templates/privacy.html">Privacy Policy</a>
        <a class="terms1" href="../templates/terms.html">Terms of Service</a>
    </div>
    </div>
    </div>

		<div class="content"><br><div class="col-lg-8 mx-auto">

            <h1 class="text-center"><br>About Us</h1>
            <h2><br>What</h2>
            <p>
              Capsule Software, LLC (DBA <i>Capsule, LLC</i>) is a software company.
              We're a small startup operating in New York and New Jersey
              creating the <i> best </i> software-driven cameras in the world.
            </p>

            <h2><br>Why</h2>
            <p>
              Our mission is to equip humanity with intelligent cameras. In other words, we're building cameras that can "see".
              We think that the next notable changes in history will be driven by vision and our goal is to excel in this domain.
              We strive to get to a point where our software, supplemented with generic cameras, can monitor your health from a single image or video.
            </p>


            <h2>
            <br>What Are We Currently Building?
            </h2>
            <p>
              We're building a smart camera app that automatically saves your moments to collaborative albums.
            </p>

            <h2>
              <br>How Does It Work?
            </h2>
            <p>
              It's pretty simple, actually. We discovered that 60% of all photos and videos stored in your device were
              taken with your device's camera. Then, we realized that the fastest way to share those moments was to
              <i>directly save them to shared albums</i>.
            </p>

            <h2><br>I. Camera</h2>
            <p>
              Whenever you capture a moment with Capsule, all those moments are automatically saved to an album.
            </p>


            <h2><br>II. Gallery</h2>
            <p>
              Then, all your friends who are invited to your albums can view or edit them.
            </p>

            <p>
              <br>
              This makes it much easier to share. <mark>Actually, you don't have to share at all!</mark> Think about that.
              Instead of having to send the hundreds of photos you and your friends took during <i>Girl's Night Out, a Bar Mitzvah,
               or your Kid's 1st Birthday,</i> <mark>all you have to do is create a Capsule and capture those moments</mark>.
               <br>
           </p>


    
            <h3 class="text-left font-weight-bold">
            <br><br>Follow Us 😎<br><br>
            </h3>


            <a href="https://www.instagram.com/capsule.li" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">
              Instagram
            </a>
            <br><br>

            <a href="https://twitter.com/capsule_li" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
              Twitter
            </a>
            <br><br>

            <a href="https://www.medium.com/@capsulehq" class="btn btn-info btn-lg active" role="button" aria-pressed="true">
              Medium
            </a>
            <br><br><br>

          </div>
		    		<br>
		    		<br>
		    		<br>
		    		<br>

	    		</div>
</div>

		<div class="footer">
			<div class="copyright">&#169; Capsule, LCC 2018</div>
		</div>


	</div>

</body>
</html>